/*== Variables ==*/
/*== Mixins ==*/
/*== Common styles ==*/
.old-browser-warning {
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 4px 0 #f0f0f0;
  overflow: hidden;
  transition: background .25s, border .25s, box-shadow .25s; }
  .old-browser-warning:hover {
    background: #f0f0f0;
    box-shadow: 0 4px 0 #c2c2c2; }
  .old-browser-warning__left-side {
    float: left;
    margin: 10px 30px 10px 20px;
    width: 421px; }
  .old-browser-warning__right-side {
    float: left;
    width: 404px;
    margin: 48px 0 10px 20px; }
  .old-browser-warning__glyphicon-remove {
    cursor: pointer;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Opera, Chrome, and Safari */
    color: #c2c2c2;
    float: right;
    margin: -5px 15px 0 0; }
    .old-browser-warning__glyphicon-remove:hover {
      opacity: .55; }
    .old-browser-warning__glyphicon-remove:before {
      content: "+";
      font-size: 40px;
      font-weight: bold; }
  .old-browser-warning__img-link {
    display: inline-block;
    transition: opacity .45s;
    margin: 10px 0 0 0;
    height: 100px;
    width: 97px; }
    .old-browser-warning__img-link:hover {
      opacity: .55; }
  .old-browser-warning__text {
    color: black;
    font-size: 13px;
    margin: 1em 0; }
  .old-browser-warning__link {
    color: black;
    margin: 0 0 0 5px;
    border-bottom: 1px solid black;
    text-decoration: none; }
    .old-browser-warning__link:hover {
      border-bottom: none; }

.icon-remove {
  cursor: pointer;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Opera, Chrome, and Safari */
  color: #c2c2c2;
  float: right;
  margin: -5px 15px 0 0; }
  .icon-remove:hover {
    opacity: .55; }
  .icon-remove:before {
    content: "+";
    font-size: 40px;
    font-weight: bold; }

.text-primary {
  color: #3d5b7f; }

/*-- Personal styles --*/
.browser-sprite {
  background: url("../img/old-browser/browser-sprite.png") no-repeat; }

.browser-chrome {
  background-position: 0 0; }

.browser-firefox {
  background-position: -101px 0; }

.browser-ie {
  background-position: -199px 0; }

.browser-opera {
  background-position: -298px 0; }
