// Import variables
@require 'config'

@require '../../node_modules/prismjs/themes/prism.css'

.old-browser-warning
  background: $very-light-gray-mostly-white
  border: 1px solid $very-light-gray
  border-radius: 4px
  box-shadow: 0 4px 0 $very-light-gray
  overflow: hidden
  transition: background .2s, border .2s, box-shadow .2s
  margin: 0 0 20px 0
  &:hover
    background: $very-light-gray
    box-shadow: 0 4px 0 $light-gray

  &__left-side
    float: left
    margin: 10px 30px 10px 20px
    width: 421px

  &__right-side
    float: left
    width: 404px
    margin: 48px 0 10px 20px

.old-browser-warning__img-link
  display: inline-block
  transition: opacity .45s
  margin: 10px 0 0 0
  height: 100px
  width: 97px
  &:hover
    opacity: .55

.old-browser-warning__text
  color: black
  font-size: 13px
  margin: 1em 0

.old-browser-warning__link
  color: black
  margin: 0 0 0 5px
  border-bottom: 1px solid black
  text-decoration: none
  &:hover
    border-bottom: none

.icon-remove
  cursor: pointer
  @include transform(rotate(45deg))
  color: $light-gray
  float: right
  margin: -5px 15px 0 0
  font-size: 40px
  font-weight: bold
  &:hover
    opacity: .55

.text-primary
  color: $dark-moderate-blue


/*-- Personal styles --*/

body
  padding-top: 70px /* For fixed top nav bar*/

.browser-sprite
  background: url('browser-sprite.png') no-repeat

.browser-chrome
  background-position: 0 0

.browser-firefox
  background-position: -101px 0

.browser-ie
  background-position: -199px 0

.browser-opera
  background-position: -298px 0

.hide
  display: none
