doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title Check browser plugin demonstration
    //- Latest compiled and minified Bootstrap CSS
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    //- Styles for design of warning block
    link(rel='stylesheet', href='scss/old-browser.css')
    //- SyntaxHighlighter style
    link(rel='stylesheet', href='css/prism.css')
    //- Add jquery
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    //- Latest compiled and minified Bootstrap JavaScript
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    //- Add plugin Check browser
    script(src='js/check-browser-plugin.js')
    //- Syntax highlighter Prism js
    script(src='js/prism.js')
    //- Own main javascript file
    script(src='js/main.js')
  body(data-spy='scroll', data-target='#bs-example-navbar-collapse-1', data-offset='170')
    header.header
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          //- Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') Browser Version
          //- Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              each val in [{link: '#home', text: 'Description'}, {link: '#examples', text: 'Examples'}, {link: '#options', text: 'Options'}, {link: '#faq', text: 'FAQ'}]
                li
                  a(href=val.link, data-offset='70')= val.text
              //- Provides extra visual weight and identifies the primary action in a set of buttons
              li
                button.navbar-btn.btn.btn-primary(type='button') Download
          //- .navbar-collapse
        //- .container-fluid
    main.container
      .row
        .col-md-12
          h1#home The check browser version plugin
          p Latest version is 1.0.0
          p
            | You can use default view of this plugin look like so (See under) or create himself warning block
      .row
        .col-md-12
          .old-browser-warning
            .old-browser-warning__left-side
              h3.text-primary.h3 Warning!
              p.old-browser-warning__text
                | You use the oldest version of a browser. It may be a reason of incorrect work and view of a website.
              p.old-browser-warning__text
                | For comfortable work, please download latest version of a browser convenient for you from official website.
              p.old-browser-warning__text
                | Please read our
                a.old-browser-warning__link(href='#') documentation
                | .
            .old-browser-warning__right-side
              a.old-browser-warning__img-link.browser-sprite.browser-chrome(href='https://www.google.com/intl/ru/chrome/browser/', target='_blank', title='Chrome')
              a.old-browser-warning__img-link.browser-sprite.browser-firefox(href='http://www.mozilla.org/ru/firefox/new/', target='_blank', title='Firefox')
              a.old-browser-warning__img-link.browser-sprite.browser-ie(href='http://windows.microsoft.com/ru-ru/internet-explorer/download-ie', target='_blank', title='Internet Explorer')
              a.old-browser-warning__img-link.browser-sprite.browser-opera(href='http://www.opera.com/ru', target='_blank', title='Opera')
            i#close-old-browser-warning.icon-remove(title='Close')
      .row
        .col-md-12
          p
            | For begin you need check - you use jquery or not use? If you not add jquery plugin - you need do it
          p And inicialize plugin
          pre.
            \n
          p All supported params:
          pre.
            \n
          p In this option you can change amount of show
          pre.
            \n
          pre.
            \n
          pre.
            \n
          pre.
            \n
          pre.
            \n
          pre.
            \n
