doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Check browser demonstration
    //- Latest compiled and minified Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    //- Styles for design of warning block
    link(rel='stylesheet', href='old-browser.css')
    //- SyntaxHighlighter style
    link(rel='stylesheet', href='prism.css')
  body(data-spy='scroll', data-target='#bs-example-navbar-collapse-1', data-offset='170')
    header.header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
        .container
          .row
            button.navbar-toggler(type='button' data-toggle='collapse' data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation")
              span.navbar-toggler-icon
            #navbarToggler
              .navbar-collapse
                a.navbar-brand(href='#') Browser Version
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                  each val in [{link: '#home', text: 'Description'}, {link: '#examples', text: 'Examples'}, {link: '#params', text: 'Params'}, {link: '#faq', text: 'FAQ'}]
                    li
                      a.nav-link(href=val.link)= val.text
                  form.form-inline.my-2.my-lg-0
                    button.btn.btn-outline-success.my-2.my-sm-0(type='button') Download
    main.container
      .row
        .col-md-12
          h1#home Check browser version
          p Latest version is 1.0.0
          p You can use default view of this plugin look like so (See under) or create himself warning block
      .old-browser-warning
        .old-browser-warning__left-side
          h3.text-primary.h3 Warning!
          p.old-browser-warning__text You use the oldest version of a browser. It may be a reason of incorrect work and view of a website.
          p.old-browser-warning__text For comfortable work, please download latest version of a browser convenient for you from official website.
          p.old-browser-warning__text
            | Please read our
            a.old-browser-warning__link(href='#') documentation
            | .
        .old-browser-warning__right-side
          a.old-browser-warning__img-link.browser-sprite.browser-chrome(href='https://www.google.com/intl/ru/chrome/browser/', target='_blank', title='Chrome')
          a.old-browser-warning__img-link.browser-sprite.browser-firefox(href='http://www.mozilla.org/ru/firefox/new/', target='_blank', title='Firefox')
          a.old-browser-warning__img-link.browser-sprite.browser-ie(href='http://windows.microsoft.com/ru-ru/internet-explorer/download-ie', target='_blank', title='Internet Explorer')
          a.old-browser-warning__img-link.browser-sprite.browser-opera(href='http://www.opera.com/ru', target='_blank', title='Opera')
        i#close-old-browser-warning.icon-remove(title='Close')
      .row
        .col-md-12
          p For begin you need check - you use jquery or not use? If you not add jquery plugin - you need do it
          p And inicialize plugin
          pre
            code.language-javascript.
              showPopup();
          h2#params All supported params:
          pre
            code.language-javascript.
              showPopup({
                once: false,
                warningEl: '.old-browser-warning',
                closeBtnName: '#close-old-browser-warning',
                duration: 1200,
                easing: 'swing',
                browsers: {
                  Firefox: 27,
                  Chrome: 30,
                  Opera: 15,
                  IE: 10
                }
              });
          p In this option you can change amount of show
          pre
            code.language-javascript.
              showPopup({
                once: false
              });
          pre
            code.language-javascript.
              showPopup({
                warningEl: '.old-browser-warning'
              });
          pre
            code.language-javascript.
              showPopup({
                closeBtnName: '#close-old-browser-warning'
              });
          pre
            code.language-javascript.
              showPopup({
                duration: 1200
              });
          pre
            code.language-javascript.
              showPopup({
                easing: 'swing'
              });
          pre
            code.language-javascript.
              showPopup({
                browsers: {
                  Firefox: 27,
                  Chrome: 30,
                  Opera: 15,
                  IE: 10
                }
              });
    //- Add plugin Check browser
    script(src='browser-deprecated.js')
    script(src='show-popup.js')
    //- Syntax highlighter Prism js
    script(src='prism.js')
    //- Own main javascript file
    script.
      showPopup({
        once: false,
        duration: 1000,
        browsers: {
          Chrome: 77
        }
      });
