doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Check browser plugin demonstration
    //- Latest compiled and minified Bootstrap CSS
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    //- Styles for design of warning block
    link(rel='stylesheet', href='old-browser.css')
    //- SyntaxHighlighter style
    link(rel='stylesheet', href='prism.css')
    //- Add jquery
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //- Latest compiled and minified Bootstrap JavaScript
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    //- Add plugin Check browser
    script(src='check-browser.js')
    //- Syntax highlighter Prism js
    script(src='prism.js')
    //- Own main javascript file
    script(src='main.js')
  body(data-spy='scroll', data-target='#bs-example-navbar-collapse-1', data-offset='170')
    header.header
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          //- Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              - var n = 0
              while n < 3
                span.icon-bar= n++
            a.navbar-brand(href='#') Browser Version
          //- Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              each val in [{link: '#home', text: 'Description'}, {link: '#examples', text: 'Examples'}, {link: '#options', text: 'Options'}, {link: '#faq', text: 'FAQ'}]
                li
                  a(href=val.link, data-offset='70')= val.text
              //- Provides extra visual weight and identifies the primary action in a set of buttons
              li
                button.navbar-btn.btn.btn-primary(type='button') Download

    main.container
      .row
        .col-md-12
          h1#home The check browser version plugin
          p Latest version is 1.0.0
          p You can use default view of this plugin look like so (See under) or create himself warning block
      .row
        .col-md-12
          .old-browser-warning
            .old-browser-warning__left-side
              h3.text-primary.h3 Warning!
              p.old-browser-warning__text You use the oldest version of a browser. It may be a reason of incorrect work and view of a website.
              p.old-browser-warning__text For comfortable work, please download latest version of a browser convenient for you from official website.
              p.old-browser-warning__text
                | Please read our
                a.old-browser-warning__link(href='#') documentation
                | .
            .old-browser-warning__right-side
              a.old-browser-warning__img-link.browser-sprite.browser-chrome(href='https://www.google.com/intl/ru/chrome/browser/', target='_blank', title='Chrome')
              a.old-browser-warning__img-link.browser-sprite.browser-firefox(href='http://www.mozilla.org/ru/firefox/new/', target='_blank', title='Firefox')
              a.old-browser-warning__img-link.browser-sprite.browser-ie(href='http://windows.microsoft.com/ru-ru/internet-explorer/download-ie', target='_blank', title='Internet Explorer')
              a.old-browser-warning__img-link.browser-sprite.browser-opera(href='http://www.opera.com/ru', target='_blank', title='Opera')
            i#close-old-browser-warning.icon-remove(title='Close')
      .row
        .col-md-12
          p For begin you need check - you use jquery or not use? If you not add jquery plugin - you need do it
          p And inicialize plugin
          pre
            code.language-javascript.
              $(document).ready(function () {
                $('body').checkBrowser();
              });

          p All supported params:
          pre
            code.language-javascript.
              $(document).ready(function () {
                $('body').checkBrowser({
                  once: 'No',
                  warningBoxName: '.old-browser-warning',
                  closeBtnName: '#close-old-browser-warning',
                  duration: 1200,
                  easing: 'swing',

                  browsers: {
                    Firefox: 27,
                    Chrome: 30,
                    Opera: 15,
                    IE: 10
                  }
                });
              });
          p In this option you can change amount of show
          pre
            code.language-javascript.
              $('body').checkBrowser({
                once: 'No'
              });
          pre
            code.language-javascript.
              $('body').checkBrowser({
                warningBoxName: '.old-browser-warning'
              });
          pre
            code.language-javascript.
              $('body').checkBrowser({
                closeBtnName: '#close-old-browser-warning'
              });
          pre
            code.language-javascript.
              $('body').checkBrowser({
                duration: 1200
              });
          pre
            code.language-javascript.
              $('body').checkBrowser({
                easing: 'swing'
              });
          pre
            code.language-javascript.
              $('body').checkBrowser({
                browsers: {
                  Firefox: 27,
                  Chrome: 30,
                  Opera: 15,
                  IE: 10
                }
              });
